.panel {
  background-color: white;
  height: fit-content;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.main-panel {
  width: 35%;
  padding: 1.5rem 2rem;
}

.edit-panel {
  width: 90%;
  padding-left: 2rem;
}

.final-price {
  margin: 2rem 0;
}

.final-price span {
  font-weight: 500;
}

.final-price h4 {
  display: inline;
  font-size: 1.5rem;
  font-weight: bold;
}

.panel input {
  width: 100%;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.panel button {
  width: 90%;
  background-color: rgb(46, 78, 255);
  color: white;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.7rem;
  align-self: center;
  font-weight: bold;
}

.panel button:hover {
  background-color: rgb(69, 91, 212);
}
